Repository zx106kg/semantic-github-demo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  13e1d7092b16d5445a742b45beffd5c1d04397b5
Due: none

feat: 增加工具方法
  .gitignore
  .idea/.gitignore
  .idea/modules.xml
  .idea/semantic-github-demo.iml
  .idea/vcs.xml
  src/util/__tests__/common.spec.ts
  src/util/common.ts
Due: eslint --fix, prettier --write

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6c7d75129a0b7ad318421be0ba14c3a96ebafe22
Due: none

fix: 修复工具库
  .gitattributes
  src/util/common.ts
Due: eslint --fix, prettier --write

chore(release): 1.1.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  4f61d23fe8ba1662974c5dc3d72bcd38a5aef4e3
Due: none

fix: 修复工具库
  src/util/common.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  8f809496d32a33758ff7fa76fa4dbdc5c354f20d
Due: none

chore(release): 1.1.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

chore(release): 1.1.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  dccee5ae30c5f10ca56d0833ef67e87785f3aad1
Due: none

ci: 添加测试action
  .github/workflows/ci.yml
Due: none

fix: something
  package-lock.json
  src/util/__tests__/common.spec.ts
  src/util/common.ts
Due: eslint --fix, prettier --write

chore(release): 1.1.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  4989d207cdd65bd072fe32221fdf3f144a8f57b1
Due: none

Path conditions:
  eslint --fix: any of: **/*.ts
  prettier --write: any of: **/*.{ts,md}
